@import "tailwindcss";

/* body {
  margin: 0;
  padding: 0;
  font-family: "calibri";
  font-size: 14px;
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

table,
tr,
th,
td {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid rgb(200, 200, 200);
}

th {
  background-color: #bbdefb;
  font-weight: 600;
  padding: 3px 2px;
  font-size: 13px;
  text-align: center;
}

tr:hover {
  background-color: #e1bee7;
  border: 1px solid #ce93d8;
}

tr:hover input {
  background-color: #e1bee7;
}

td {
  font-family: "calibri";
  font-size: 13px;
  padding: 3px;
}

td.task-update:hover {
  cursor: pointer;
}

td.task-description:hover {
  cursor: pointer;
}

td.comments:hover {
  cursor: pointer;
}

td > input {
  height: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 13px;
  font-family: "calibri";
}

td > input:focus {
  background-color: #f9fbe7;
}

td.task-description {
  text-align: left;
}

.serial {
  width: auto;
  min-width: 20px;
  max-width: 100px;
  text-align: center;
}

.task-description {
  width: auto;
  min-width: auto;
  max-width: 800px;
}

td.task-description > input {
  width: 100%;
  min-width: 225px;
}

.date {
  width: auto;
  min-width: 65px;
  max-width: 100px;
  text-align: center;
}

.task-update {
  width: 400px;
  min-width: 100px;
  max-width: 600px;
  text-align: left;
}

td.task-update > input {
  width: 100%;
  min-width: 100px;
  max-width: auto;
  text-align: left;
}

.comments {
  width: auto;
  min-width: 100px;
  max-width: 300px;
  text-align: left;
}

td.comments > input {
  width: 100%;
  min-width: 225px;
}

td.task-description,
td.task-update,
td.comments {
  overflow-x: auto;
  overflow-y: auto;
  text-overflow: ellipsis;
  text-wrap: wrap;
  word-wrap: normal;


  min-height: fit-content;
}

header {
  width: 100vw;
  min-height: 20px;
  max-height: 60px;
  height: 15vh;
  background-color: #90caf9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px rgba(150, 150, 150, 0.5);
}

header p {
  color: #333;
  text-shadow: 2px 2px 8px rgba(80, 80, 80, 0.5);
  font-weight: 400;
} */



